.header {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 0.4rem);
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-content::before {
  position: absolute;
  content: '';
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../public/assets/background_photo_eclectic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.2rem);
}
.header-content > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.header-content > p {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
