.section-presentation {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}
.presentation-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
}
.content > h4,
.content > p {
  color: #fff;
  padding: 1rem;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .presentation-block {
    flex-direction: row;
    justify-content: space-between;
  }
  .presentation-img-container {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .presentation-block {
    width: 90%;
  }
  .presentation-img-container {
    width: 30%;
  }
}